
#departamento:before, #departamento:after {
    content: " ";
    display: table;
}

#departamento:after {
    clear: both;
}
#departamento > div{
  width: 100%;
  margin: 0 auto;
}
.box-picture >  div {
  width: 30%;
  height: 350px;
  position: relative;
  box-shadow: 8px 10px 14px -8px #CECECE;
  float: left;
  background-color: #f4f1f1;
  margin: 1%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
}

.box-picture > div > .descripcion:hover{
  background: rgba(203, 191, 40, 0.74)
}
.box-img {
  display: flex;
  width: 100%;
  height: 210px;
  position: absolute;

}
.box-img span{
  width: 100%;
    height: 100%;
    background: linear-gradient(rgba(166, 155, 160, 0.51),rgba(224, 83, 6, 0.13));
    position: absolute;
}
.box-img > img {
  width: 100%;
}
.box-picture > div > .descripcion {
  width: 100%;
  height: 31%;
  background: rgba(0, 255, 255, 0.14);
  margin: 0 auto;
  padding: 1% 3%;
  overflow: hidden;
  bottom: 9%;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.box-picture > div > .nameDep{
  position: absolute;
  left: 0;
  text-align: center;
}
.box-picture > div > a {
  position: absolute;
  bottom: 6px;
  text-align: center;
  left: 30%;
}
.animation {
  animation: change 5s infinite step-start alternate;
}

.disappear {
display: none;}
@keyframes change {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
};
