.sign-up-log-in{
  max-width: 35%;
  margin: auto;
}

.form-signup{
    margin: 1rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(218, 218, 218, 0.71);;
    box-shadow: 0.3rem 0.3rem 1rem black;
    text-align: center;
}

.input-box{
    padding: 1rem;
}

.input-box .form-control{
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
}

button[type="submit"]{
    width: 65%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    background-color: deeppink;
    cursor: pointer;
    border: none;
}

button[type="submit"]:hover{
    background-color: #DD117F;
    font-weight: lighter;
}

button[type="submit"]:active{
    opacity: 0.5;
}

.sr-only{
    font-weight: bolder;
}
.tooltiptext{
    float: right;
    background-color: rgb(244, 151, 172);
    color: white;
    font-size: 1.1rem;
    position: absolute;
    left: 10rem;
    bottom: 0;
    padding: 0.1rem;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(244, 151, 172) transparent;
}
